@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #080707;
    --card: #f4f1f1;
    --card-foreground: #0e0e0e;
    --popover: #eeeeee;
    --popover-foreground: #080707;
    --primary: #30097d;
    --primary-foreground: #f5f5f5;
    --secondary: #3452b4;
    --secondary-foreground: #f5f5f5;
    --tertiary: #20b805;
    --tertiary-foreground: #f5f5f5;
    --muted: #8c91a4;
    --muted-foreground: #080707;
    --accent-1: #38bdf8;
    --accent-2: #4ade80;
    --accent-3: #818cf8;
    --accent-4: #e879f9;
    --accent-5: #60a5fa;
    --accent-foreground: #f5f5f5;
    --destructive: #cc3e58;
    --destructive-foreground: #f5f5f5;
    --border: #581c87;
    --input: #e5e5e5;
    --ring: #d8b4fe;
    --chart-1: #cca1e4;
    --chart-2: #aa68cd;
    --chart-3: #8734b4;
    --chart-4: #5e0889;
    --chart-5: #22004a;
    --chart-foreground: #155e75;
    --radius: 0.75rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #080707;
    --sidebar-primary: #590690;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #eeeeee;
    --sidebar-accent-foreground: #080707;
    --sidebar-border: #dde0e5;
    --sidebar-ring: #85c4ec;
  }
  .dark {
    --background: #010003;
    --foreground: #eaeaea;
    --card: #252525;
    --card-foreground: #eaeaea;
    --popover: #101010;
    --popover-foreground: #eaeaea;
    --primary: #580aab;
    --primary-foreground: #eaeaea;
    --secondary: #9189fc;
    --secondary-foreground: #010003;
    --tertiary: #57e93d;
    --tertiary-foreground: #010003;
    --muted: #f9eeee;
    --muted-foreground: #f5f5f5;
    --accent-1: #bbf7d0;
    --accent-2: #f5d0fe;
    --accent-3: #fef08a;
    --accent-4: #bae6fd;
    --accent-5: #6ea1ff;
    --accent-foreground: #010003;
    --destructive: #cf6679;
    --destructive-foreground: #ffffff;
    --border: #e9d5ff;
    --input: #424242;
    --ring: #d8b4fe;
    --chart-1: #c588e6;
    --chart-2: #a154cb;
    --chart-3: #8a28c0;
    --chart-4: #6b089c;
    --chart-5: #22004a;
    --chart-foreground: #155e75;
    --sidebar-background: #121212;
    --sidebar-foreground: #eaeaea;
    --sidebar-primary: #a78bfa;
    --sidebar-primary-foreground: #eaeaea;
    --sidebar-accent: #494949;
    --sidebar-accent-foreground: #cccccc;
    --sidebar-border: #292828;
    --sidebar-ring: #60a5fa;
  }
}
@font-face {
  font-family: "Cute_Rabbit";
  src: url("/fonts/Cute_Rabbit.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MorningBakery";
  src: url("/fonts/MorningBakery.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("/fonts/Dosis.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Luckiest";
  src: url("/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Magic-Bubble";
  src: url("/fonts/Magic-Bubble.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  p {
    @apply mb-2 text-pretty;
  }
}
