@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #080707;
    --card: #eeeeee;
    --card-foreground: #080707;
    --popover: #eeeeee;
    --popover-foreground: #080707;
    --primary: #7e22ce;
    --primary-foreground: #f5f5f5;
    --secondary: #1d4ed8;
    --secondary-foreground: #f5f5f5;
    --muted: #8c91a4;
    --muted-foreground: #080707;
    --accent: #155e75;
    --accent-foreground: #080707;
    --destructive: #cc3e58;
    --destructive-foreground: #f5f5f5;
    --border: #581c87;
    --input: #e5e5e5;
    --ring: #d8b4fe;
    --chart-1: #38bdf8;
    --chart-2: #4ade80;
    --chart-3: #818cf8;
    --chart-4: #e879f9;
    --chart-5: #60a5fa;
    --radius: 0.75rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #080707;
    --sidebar-primary: #590690;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #eeeeee;
    --sidebar-accent-foreground: #080707;
    --sidebar-border: #dde0e5;
    --sidebar-ring: #85c4ec;
  }
  .dark {
    --background: #121212;
    --foreground: #eaeaea;
    --card: #1a141e;
    --card-foreground: #eaeaea;
    --popover: #1a141e;
    --popover-foreground: #eaeaea;
    --primary: #a78bfa;
    --primary-foreground: #1c1b1b;
    --secondary: #60a5fa;
    --secondary-foreground: #1c1b1b;
    --muted: #3a3a3a;
    --muted-foreground: #f5f5f5;
    --accent: #0d9488;
    --accent-foreground: #a7f3d0;
    --destructive: #cf6679;
    --destructive-foreground: #ffffff;
    --border: #e9d5ff;
    --input: #424242;
    --ring: #d8b4fe;
    --chart-1: #bbf7d0;
    --chart-2: #f5d0fe;
    --chart-3: #fef08a;
    --chart-4: #bae6fd;
    --chart-5: #99f6e4;
    --sidebar-background: #121212;
    --sidebar-foreground: #eaeaea;
    --sidebar-primary: #a78bfa;
    --sidebar-primary-foreground: #eaeaea;
    --sidebar-accent: #494949;
    --sidebar-accent-foreground: #cccccc;
    --sidebar-border: #292828;
    --sidebar-ring: #60a5fa;
  }
}

@font-face {
  font-family: "Atop";
  src: url("/fonts/Atop.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bubble-Love";
  src: url("/fonts/Bubble-Love.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brainy-Kids";
  src: url("/fonts/Brainy-Kids.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cute_Rabbit";
  src: url("/fonts/Cute_Rabbit.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chocolate";
  src: url("/fonts/Chocolate.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chicle-Regular";
  src: url("/fonts/Chicle-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fungky-Brow";
  src: url("/fonts/Fungky-Brow.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Halo-Dek";
  src: url("/fonts/Halo-Dek.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MorningBakery";
  src: url("/fonts/MorningBakery.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LapsusPro-Bold";
  src: url("/fonts/LapsusPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Luckiest";
  src: url("/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Magic-Bubble";
  src: url("/fonts/Magic-Bubble.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Milkyway";
  src: url("/fonts/Milkyway.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MouseMemoirs-Regular";
  src: url("/fonts/MouseMemoirs-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nabana-ShadowBold";
  src: url("/fonts/Nabana-ShadowBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Whoa";
  src: url("/fonts/Whoa.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply mb-2;
  }
}
